[submodule "gato"]
	path = source/component/3rd-party/gato/raw
	url = ../Gato
[submodule "nuklear"]
	path = source/component/3rd-party/nuklear/raw
	url = ../Nuklear
[submodule "evm"]
	path = source/component/3rd-party/evm/raw
	url = ../evm
[submodule "source/component/3rd-party/LingLongGUI/raw"]
	path = source/component/3rd-party/LingLongGUI/raw
	url = ../LingLongGUI
[submodule "source/component/3rd-party/GuiLite/raw"]
	path = source/component/3rd-party/GuiLite/raw
	url = ../GuiLite
